.custom-icon-size {
    font-size: 4rem;
 }

.navbar-with-shadow {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #1e7e34; 
}

.navbar-nav .form-control:focus,
.navbar-nav .btn-outline-success:hover {
    color: #1e7e34; 
}

.navbar-nav .bi-controller:hover,
.navbar-nav .bi-controller.active {
    color: #1e7e34; 
}

