.info-container {
    width: 100%;
    max-width: 600px; /* Defina a largura máxima conforme necessário */
    margin: auto; /* Centraliza o bloco */
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    margin-top: 20px;
  }
  
  .info-item {
    margin-bottom: 10px;
  }
  
  /* Estilo específico para os títulos (Identificador, Gênero, etc.) */
  .info-item .fw-bold {
    color: #39834a; /* Cor do título */
  }
  
  /* Estilo para a tabela */
  .table-custom {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .table-custom th, .table-custom td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table-custom th {
    background-color: #39834a;
    color: white;
  }
  
  .table-custom tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .table-custom td {
    vertical-align: middle;
  }
  
  /* Estilo para os botões de navegação */
  .btn-navigation {
    color: white;
    background-color: #39834a;
    border: none;
    border-radius: 4px;
    padding: 8px 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-navigation:hover {
    background-color: #155724;
  }
  
  /* Estilo para a paginação */
  .pagination-info {
    margin-top: 12px;
    color: #6c757d;
  }